h3{
  color:#ffffff;
  margin-left:430px;
}
h4{
  color:#ffffff
}
input[type=text],input[type=number] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  width:400px;
  color:#fff;
  font-size:16px;
}
span{
  color:#fff;
}
.form-control {
  display: block;
  width: 400px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-adjust{
  float:right;
  margin-top:-300px;
  margin-right:200px;
}
.form-place{
  margin-left: 350px;
  margin-top:70px;
}
.navbar{
	height:70px;
}
.navbar-default {
  background: #0099ff;
  border: none;
}
.navbar-default .navbar-brand {
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
  font-size: 30px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: none;
  color:#337ab7;
  line-height:0.897;
  border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #337ab7;
}
.nav-tabs>li>a{
	font-size: 18px;
	color:#ffffff;
}
