.page-margin{
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 40px;
}
fieldset{
  border:none
}
label, input {
  display: block;
}
label {
  margin-bottom: 10px;
}
h1{
  color:#ffffff;
  margin-top:0px;
  font-size:40px;
  border-bottom:thick double #ffffff;
}
.parent {
  height: 60px;
  width:100%
}
.colLeft {
  color:#ffffff;
  float: left;
  height: 60px;
  font-style: italic;
}
.colCenter {
  height: 60px;
}
.topnav {
  background-color: #008B8B;
  overflow: hidden;
  margin-top: 5px;
  margin-left:200px;
  border-radius:10px;
  width:580px;
 a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  a:hover{
    background-color: #ddd;
    color: black;
  }
}
.active{
  background-color: #ddd;
  color: red;
}
h3,h4{
  color:#ffffff;
  align:center;
}
input[type=text],input[type=number] {
  background: #ffffff;
  border: 1px solid #fff;
  width:300px;
  height:25px;
  font-size:16px;
  border-radius: 4px;
}
select{
  background: #ffffff;
  border: 1px solid #fff;
  width:300px;
  height:25px;
  font-size:16px;
  border-radius: 4px;
}
button{
  width:70px;
  height:30px;
  border-radius:5px;
  border:1px solid #000;
  background-color: #000000;
  color:#fff;
}
span{
  color:#fff;
}
.form-place{
  margin-left:250px;
  margin-right:270px;
}
.form-parent{
  height:400px;
  margin-right:50px;
  .form-left{
    float:left;
  }
  .form-right{
    float:right;
  }
}
#add-button{
  margin-top:30px;
  margin-left:310px;
}
#align-middle{
   text-align: center;
}
#button-right{
  float: right;
  margin-right:15px;
}
